<nav class="navbar">
    <h1>InstaLitre</h1>
    <a class="navItem" href="/api/home">Home</a> <br><br><br><br>
    <a class="navItem" href="/api/posts/">Add Post</a> <br><br><br><br>
    <a class="navItem" href="/api/user">Profile</a> <br><br><br><br>
    <a class="navItem" href="/api/authenticate/logout">Log Out</a> <br>
</nav>